body {
    font-family: 'Noto Sans KR', sans-serif;
  }
  
.carousel-item {
    background-color: gray;
    height: 400px;
    background-size: cover;
    text-align: center;
}

.carousel-control-prev {
    background-color: transparent;
    border: none;
}

.carousel-control-next {
    background-color: transparent;
    border: none;
}

.carousel-item.item1 {
    background-image: url('../images/guitar.jpg');
}

.carousel-item.item2 {
    background-image: url('../images/makeup.jpg');
}

.carousel-item.item3 {
    background-image: url('../images/cooking.jpg');
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.intro {
    display: inline-block;
    vertical-align: middle;
}

.intro h2 {
    font-size: 32px;
    color: white;
    font-weight: 300;
}

.intro h3 {
    font-size: 22px;
    color: white;
    margin-top: 18px;
    margin-bottom: 48px;
    font-weight: 300;
}

.intro a {
    font-size: 16px;
    color: white;
    background-color: #5900e7;
    padding: 10px 30px;
    border-radius: 2px;
    font-weight: 300;
}

.intro a:hover {
    text-decoration: none;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.course {
    display: block;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    margin-bottom: 20px;
}

.course:hover {
    text-decoration: none;
}

.course .course-img {
    display: block;
}

.course .info {
    padding: 10px;
}

.course .info h4 {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 10px;
}

.course .info .lecturer span {
    font-size: 13px;
    color: #4a4a4a;
}

.course .info .lecturer img,
.course .info .lecturer .name {
    vertical-align: middle;
}