body {
    margin: 0;
  }
  
  #div1 {
    background-color: #FF0000;
    width: 100%;
    height: 60px;
  }
  
  #div2 {
    background-color: #FFA500;
    width: 100%;
    height: 350px;
  }
  
  #div3 {
    background-color: #FFFF00;
    width: 100%;
    height: 320px;
  }
  
  #div4 {
    background-color: #008000;
    width: 100%;
    height: 385px;
  }
  
  #div5 {
    background-color: #0000FF;
    width: 100%;
    height: 200px;
  }
  
  #div6 {
    background-color: #4B0082;
    width: 100%;
    height: 200px;
  }
  
  /* Tablet */
  @media (min-width: 768px) {
      div {
          float: left;
      }
  #div2 {
    height: 562px;
  }
  
  #div3 {
    height: 282px;
  }
  
  #div4 {
    height: 360px;
    width: 50%;
  }
  
  #div5 {
    height: 180px;
    width: 50%;
  }
  
  #div6 {
    height: 180px;
    width: 50%;
  }
  
  /* Desktop */
  @media (min-width: 992px) {
  #div2 {
    height: 700px;
    width: 50%;
  }
  
  #div3 {
    height: 350px;
    width: 50%;
  }
  
  #div4 {
    height: 350px;
    width: 25%;
  }
  
  #div5 {
    height: 175px;
    width: 25%;
  }
  
  #div6 {
    height: 175px;
    width: 25%;
  }