body {
    font-family: 'Noto Sans KR', sans-serif;
  }

.carousel-item {
    text-align: center;
}
  
.carousel-inner .item1 {
    background-image: url(../images/guitar.jpg);
    height: 400px;
    background-size: cover;
    background-position: left center;
}

.carousel-inner .item2 {
    background-image: url(../images/makeup.jpg);
    height: 400px;
    background-size: cover;
    background-position: center top;
}

.carousel-inner .item3 {
    background-image: url(../images/cooking.jpg);
    height: 400px;
    background-size: cover;
    background-position: center center;
}

.carousel-item .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.carousel-item .intro {
    display: inline-block;
    vertical-align: middle;
}

.intro h2 {
    font-size: 32px;
    font-weight: 300;
    color: white;
}

.intro h3 {
    font-size: 22px;
    font-weight: 300;
    color: white;
    margin-top: 18px;
    margin-bottom: 48px;
}

.intro a {
    font-size: 16px;
    color: white;
    background-color: #5900e7;
    padding: 10px 30px;
}

.intro a:hover {
    text-decoration: none;
}

.alert {
    margin-top: 50px;
    margin-bottom: 16px;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    margin-bottom: 20px;
}

.card:hover {
    text-decoration: none;
}

.info {
    padding: 10px;
}

.info h4 {
    font-size: 18px;
    color: #4a4a4a;
}

.info span {
    font-size: 13px;
    color: #4a4a4a;
}
